/* Reset some basics */
body {
    background-color: #ffffff;
    background-size: cover;
    margin: auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

img {
    max-width: 90%;
}

/* Headings */
h1, h2, b {
    color: #151412;
    font-weight: bold;
}

/* Ask container */
.ask-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

/* Individual ask items */
.ask-item {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    width: 55%;
    margin-bottom: 20px; 
    padding: 20px;
    
}

/* Individual ask items */
/* Kept short in case someone pastes like the entire Bee Movie Script lmao */
.unansweredask-item {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    width: 55%;
    margin-bottom: 20px; 
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

/* Individual ask items */
.unanswered {
    padding: 15px;
    border-radius: 10px;
    width: 55%;
    margin-bottom: 20px; 
    
}


/* Individual ask items */
.unaswered-item {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    width: 55%;
    margin-bottom: 20px; 
    padding: 20px;
    max-height: 400px;   /* or whatever fits */
    overflow-y: auto;    /* scroll if too long */
    word-wrap: break-word; /* prevent super long words from breaking layout */
    
}



/* Buttons */
.cutiepie, .cutiepie2 {
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    width: 120px;
    margin: 4px auto 5px;
    display: block;
    padding: 10px;
}

/* Question & Answer styling */
.question {
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.answer {
    color: #666;
}

/* Timestamp styling */
.timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}
